* {
    box-sizing: border-box;
    margin: 0;
}

@import url("https://fonts.googleapis.com/css?family=Noto+Serif+TC&amp;display=swap");

body {
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    font-family: serif, 'Noto Serif TC';
    color: #333;
}

.wrap {
    margin: 0 auto;
    max-width: 100%;
}

.header {
    display: flex;
    background: linear-gradient(to left, #636FA4, #E8CBC0);
    height: 50px;
    width: 100%;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
}

.header a {
    align-content: center;
    color: #333;
}

.showmenu {
    display: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(to left, #636FA4, #E8CBC0);
    width: 100%;

    li {
        line-height: 2;
    }
}

.menu {
    display: flex;
}

.menu li a {
    display: block;
    padding: 10px;
    color: #333;
    text-decoration: none;
    transition: all.3s;
}

.menu li a:hover {
    background: linear-gradient(to right, #636FA4, #E8CBC0);
    color: floralwhite;
}

.content {
    padding: 10px;
    line-height: 1.8;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.leftcolumn {
    float: left;
    width: 75%;
}

.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 10px;
}

.footer {
    background: floralwhite;
    opacity: 0.8;
    text-align: center;
    margin-top: 40px;
    padding: 10px;
}

.card {
    background: floralwhite;
    opacity: 0.8;
    margin-top: 40px;
    padding: 20px;
}

.fakeimg {
    height: 100%;
    width: 100%;
    padding: 10px;
}

a {
    color: #636FA4;
    text-decoration: none;
}

table {
    padding: 10px;
    width: 100%;
    table-layout: auto;

    tr:nth-child(even) {
        background: linear-gradient(to right, floralwhite, #E8CBC0);
    }

    td {
        padding: 13px;
    }

    td:hover {
        background: linear-gradient(to left, floralwhite, #E8CBC0);
    }
}

table.alt {
    border-collapse: separate;
}

table.alt tr td {
    border: solid 1px #E8CBC0;
    border-top-width: 2px;
}

table.alt tr td:first-child {
    border-left-width: 1px;
}

table.alt tr:first-child td {
    border-top-width: 1px;
}

.expandable-row {
    cursor: pointer;
}

.dropdown-content {
    display: none;
}

.arrow {
    margin-right: 10px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

@media screen and (max-width: 767px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    table {
        width: 100%;
        overflow-x: auto;
        display: block;
    }

}

@media(max-width: 767px) {

    .header {
        background: linear-gradient(to left, #636FA4, #E8CBC0);
        width: 100%;
        position: fixed;
    }

    .menu {
        display: block;
        background: linear-gradient(to left, #636FA4, #E8CBC0);
        top: 50px;
        max-height: 0px;
        width: 100%;
        overflow: hidden;
        position: absolute;
        text-align: center;
        transition: max-height.3s;
    }

    .menu li a {
        transition: all.3s;
    }

    .menu li a:hover {
        background: linear-gradient(to right, #636FA4, #E8CBC0);
        color: floralwhite;
    }

    .showmenu {
        display: block;
        color: floralwhite;
        padding: 10px;
        text-decoration: none;
    }

    .menu-show .menu {
        max-height: 500px;
    }

    .content {
        padding-top: 250px;
    }
}